.leaders__participants {
    flex-grow: 1;
    margin-top: calc(10vh + 2px);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
}

.leaders__participant {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    max-width: 120px;
    flex-grow: 1;
    width: calc(120vw / 668 * 100);
}

.leaders__participant-rectangle {
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6);
    border-radius: 6px 6px 0 0;
    margin-top: 8px;
}

.leaders__participant-rectangle_first {
    background: radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4);
}
.leaders__participant-place {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #FCFBF7;
    margin: 0;
    margin-top: 17px;
    position: relative;
}

.leaders__participant_left .leaders__participant-place,
.leaders__participant_left .leaders__participant-user {
    left: -8px;
}

.leaders__participant_right .leaders__participant-place,
.leaders__participant_right .leaders__participant-user  {
    left: 8px;
}

.leaders__participant:nth-child(1),
.leaders__participant:nth-child(5) {
    margin-top: 40px;
}

.leaders__participant:nth-child(2),
.leaders__participant:nth-child(4) {
    margin-top: 20px;
}

@media screen and (max-width : 567px) {
    .leaders__participant:nth-child(4) {
        margin-top: 50px;
    }
    .leaders__participant:nth-child(2) {
        margin-top: 100px;
    }
    .leaders__participant:nth-child(1),
    .leaders__participant:nth-child(5) {
        display: none;
    }
    .leaders__participants {
        margin-top: calc(10vh + 16px);
    }
}

@media screen and (max-height: 375px) {
    .leaders__participants {
        margin-top: 10px;
        padding-top: 0;
    }
}

/* light theme */
.theme_light .leaders__participant-place {
    color: #261C00;
}

.theme_light .leaders__participant-rectangle {
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5);
}

.theme_light .leaders__participant-rectangle_first {
    background: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);
}